<nav class="main-nav">
    <ul>
        <li><img class="logo" src="/_img/1.1.png" alt="Logo da empresa"></li>
        <li><a href="/">Início</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/admin">Login</a></li>
        <li><a href="/admin/create">Cadastro</a></li>
        <li><a href="/autor">Autor</a></li>
    </ul>
  </nav>
  