<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Serviço</title>
    <link rel="stylesheet" href="/css/criarServico.css">
</head>
<body>
    <% include('cabecalho.ejs') %>
    <div class="container">
        <h1>Cadastrar Serviço</h1>
        <div id="mensagem-container">
            <% if (success) { %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
            <% } %>
            <% if (error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
        </div>        
        <form id="cadastro-servico-form" action="/servicos" method="post" enctype="multipart/form-data">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="categoria">Categoria:</label>
            <input type="text" id="categoria" name="categoria">
            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" min="0" step="0.01" required>
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" min="0" required>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required></textarea>
            <label for="imagem">Imagem:</label>
            <input type="file" id="imagem" name="imagem" accept="image/*" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var formulario = document.getElementById('cadastro-servico-form');
            formulario.addEventListener('submit', function(event) {
                if (!formulario.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                formulario.classList.add('was-validated');
            });
        });
    </script>
</body>
</html>
