<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Admin</title>
    <link rel="stylesheet" href="/css/loginCadastroAdmin.css">
</head>
<body>
    <% include('cabecalho.ejs') %>
    <h1>Cadastrar Admin</h1>
    <form action="/admin/create" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div>
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="password" id="confirmarSenha" name="confirmarSenha" required>
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>
